*{
    padding: 0;
    margin: 0;
}

body{
    background-color: aqua;

}

.main_div{
}
.inner_div{
    height: 40rem;
    width: 70rem;
    border: 2px solid black;
    margin:50px auto;
    background-color: bisque;
}

.heading_h1{
    text-align: center;
    font-size: 3rem;
    font-family: cursive;
    color: brown;

}

.customize_buttons{
    border: 1px solid black;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 50%;
}

button{
    margin-top: 20px;
    height: 4rem;
    width: 15rem;
    margin-left: 8rem;
    font-size: 1.3rem;
    font-family: emoji;
    border-radius: 47px;
    cursor: pointer;
}