* {
  padding: 0;
  margin: 0;
}

body {
  background-color: aqua;
}

.inner_div {
  height: 30rem;
  width: 70rem;
  /* border: 2px solid black; */
  margin: 50px auto;
  background-color: bisque;
  /* box-shadow: 0,0,0; */
}

.heading_h1 {
  text-align: center;
  font-size: 3rem;
  font-family: cursive;
  color: brown;
}

.customize_buttons {
  /* border: 1px solid black; */
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  height: 70%;
  width: 50%;
}
/* to style the button */

button {
  margin-top: 20px;
  height: 4rem;
  width: 15rem;
  margin-left: 8rem;
  font-size: 1.4rem;
  font-family: emoji;
  border-radius: 47px;
  cursor: pointer;
  border: none;
}
/* This is for the tooltip component */

.tooltip {
  position: relative;
  /* display: inline-block;
  margin-top: 15px;
  text-align: center; */
}

.tooltiptext {
  width: 250px;
  font-family: emoji;
  height: 40px;
  border: 1px solid black;

  background-color: aquamarine;
  color: black;
  text-align: center;
  border-radius: 10px;
  padding: 10px 8px;
  position: absolute;
  z-index: 100;
  font-size: 18px;
  transition: visibility 0.2s;
}
/* styling top */
.top {
  bottom: 100%;
  left: 36%;
  margin-bottom: 7px;
  margin-left: -100px;
}
/* styling bottom */
.bottom {
  top: 100%;
  left: 36%;
  margin-top: 7px;
  margin-left: -100px;
}
/* styling left */
.left {
  right: 100%;
  top: 3%;
  margin-right: 7px;
}
/* styling right */
.right {
  left: 100%;
  top: 3%;
  margin-left: 7px;
}

.top::after {
  content: " ";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 8px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.bottom::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.left::after {
  content: " ";
  position: absolute;
  top: 40%;
  left: 102%;
  margin-left: -5px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}

.right::after {
  content: " ";
  position: absolute;
  top: 39%;
  right: 100%;
  margin-left: -5px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
